@import "../../App.scss";
#loginForm {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 5% auto;
  background-color: white;
  border-radius: 25px;
  border: 1px solid $clr-orange;
}

.headerLogin {
  // display: flex;
  // justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.headerTitle {
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 2rem;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;

  input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;

    &:focus {
      box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
      outline: none;
    }

    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.25s ease-out;
    }

    &:hover::-webkit-input-placeholder,
    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
  }

  label {
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
  }

  button {
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 700;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      90deg,
      rgb(240, 106, 29) 0%,
      rgba(253, 187, 45, 1) 100%
    );
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

#buttonSignIn {
  padding-bottom: 1.5rem;
}

.iconGroup {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  a {
    margin: 0 0.6rem;
    img {
      background-repeat: no-repeat;
      width: 3rem;
      height: 3rem;
    }
  }
}

.alternativeLogin {
  text-align: center;
  padding-top: 4rem;
  margin-top: 1.5rem;
}

.nav-link {
  display: block !important;
  position: relative;
  width: 100%;
  label {
    position: absolute;
    right: 140px;
  }

  a {
    position: absolute;
    right: 30px;
    font-weight: 700;
    cursor: pointer;
  }
}

.register {
  padding-top: 0rem !important;
  margin-top: 2rem;
  color: rgb(34, 193, 195);
}

.forgotpw {
  display: block !important;
  position: relative;
  a {
    position: absolute;
    font-weight: 700;
    right: 30px;
    color: $clr-danger;
    cursor: pointer;
  }
}
